<ul class="unstyled-list text-center" >
  <li><%= link_to(gravatar_for(user), user_path(user)) %></li>
  <li class="article_title"><%= link_to(user.username, user_path(user)) %> </li>
  <li><small><%= pluralize(user.articles.count, "article") %></small></li>
</ul>
