<% if model.errors.any? %>
  <div class="alert alert-danger" role="alert">
  <h4><%= pluralize(model.errors.count, "error")%> prevented this article from being saved</h4>
    <% model.errors.full_messages.each do |msg| %>
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %>
  </div>
<% end %>

