$navbar-default-bg: #45b3f5;

@import "bootstrap-sprockets";
@import "bootstrap";

// Ids are accessed using hash at the beginning
#logo {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

#nav_link {
  color: #fff
}

// hover means when the mouse is over it
#nav_link:hover {
  text-decoration: none;
}

.nav_container {
  padding-top: 10px;
}

.jumbotron {
  background-image: asset-url('home_image.jpg');
  // background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  padding-top: 50px;
  font-weight: bold;
}

.footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
  color: #347ab7;
}

.footer small {
  color: #969696;
  float: left;
}

.footer ul {
  float: right;
  list-style-type: none;
}

.message ul {
  list-style-type: none;
}
