$navbar-default-bg: #05001F;

@import "bootstrap-sprockets";
@import "bootstrap";

// Ids are accessed using hash at the beginning
#logo {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

#nav_link {
  color: #fff
}

// hover means when the mouse is over it
#nav_link:hover {
  text-decoration: none;
}
.margin-all-pages {
  margin-right: 10px;
  margin-left: 10px;
}

.home_h1 {
  color: #fff;
}

.jumbotron {
  background-image: asset-url('new_home_image.jpg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  padding-top: 160px;
  font-weight: bold;
}

.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
  color: #347ab7;
}

.footer small {
  color: #969696;
  float: left;
}

.footer ul {
  float: right;
  list-style-type: none;
}

.message ul {
  list-style-type: none;
}

.article_actions {
  padding-top: 5px;
  border-top: 1px solid #e6e6e6;
}

.article_title {
  font-size: 1.7em;
}

.article_description {
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.unstyled-list {
  list-style-type: none;
  padding-left: 0px;
}

.unstyled-inline-list {
  // padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
  padding-left: 0px;
}

.unstyled-inline-list li {
  display: inline;
  padding: 4px;
  // background: #C2DEFD;
}

.user_actions {
  padding-top: 5px;
}
