<div class="text-center">
<h1> Categories </h1>

<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>

<% @categories.each do |category| %>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="well well-lg">
        <ul class="unstyled-list">
          <li class="article_title">
            <%= link_to("#{category.name} (#{category.articles.count})", category_path(category)) %>
          </li>
        </ul>
        <% if logged_in? && current_user.admin? %>
          <%= link_to "Edit Name", edit_category_path(category), class: "btn btn-warning btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @categories, renderer: BootstrapPagination::Rails %>

</div>
